{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block main %}
<h1 style="text-decoration: underline">О разработчике</h1>
<div class="container">
    <ol>
        <li><p>Имя: Бобурхон</p></li>
        <li><p>Фамилия: Рахматов</p></li>
        <li><p>Год, месяц,  рождения: 1992 год, март, 11</p></li>
        <li><p>Email: bobur3812000@gmail.com</p></li>
        <li><p>Образование: высшее</p></li>
        <li><p>Проекты: <a href="https://github.com/boburxonraxmatov?tab=repositories" target="_blank"><i>Сслыка на github</i></a></p></li>
    </ol>

</div>
{% endblock main %}
