    {% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}


{% block main %}
<h1 style="text-decoration: underline">О сайте</h1>
<div class="container">
    <p>
        <i>
            Новостные рубрики и блоги являются ведущим общественным вещательным направлением в мире. Беспристрастные
            и независимые газеты, те кто каждый день создаёт уникальные программы и контент мирового класса, которые
            информируют,
            обучают и развлекают миллионы людей во всем мире, очень востребованы в любом обществе.
        </i>
    </p>
    <p>
        <i>
            Это можно реализовать через:
            Портфолио телевизионных услуг, включая самые популярные во всём мире каналы, новаторские молодежные
            онлайн-службы и отмеченные множеством наград каналы для детей, а также национальные и
            региональные телевизионные программы и службы. Северная Ирландия, Шотландия и Уэльс
            Десять общебританских радиосетей, обеспечивающих лучшее живое музыкальное вещание в Великобритании, а также
            речевое радио, которое информирует, обучает и развлекает. У нас также есть две национальные радиослужбы в
            Шотландии, Уэльсе и Северной Ирландии, а также 39 местных радиостанций в Англии и на Нормандских островах,
            предоставляющие бесценные и уникальные услуги слушателям по всей Великобритании, и это только в Британии.
            Наши цифровые сервисы, включая BBC News, Sport, Weather CBBC и CBeebies, iPlayer и BBC Sounds, BBC Red
            Button и
            наш обширный архив.
            Телевидение BBC World Service , радио и онлайн на более чем 40 языках
            Учрежденная Королевской хартией , BBC в основном финансируется за счет лицензионных сборов , уплачиваемых
            британскими домохозяйствами. Наша роль заключается в выполнении нашей миссии и продвижении наших
            общественных
            целей .
        </i>
    </p>
    <p>
        <i>
            Наши коммерческие операции , в том числе BBC Studios, отмеченная наградами производственная компания BBC и
            дистрибьютор мирового класса, обеспечивают дополнительный доход для инвестиций в новые программы и услуги
            для нашей аудитории.
        </i>
    </p>
    <p>
        <i>
            Совет нашей газеты гарантирует, что мы выполняем нашу миссию и общественные цели, изложенные в Уставе.
            Исполнительный
            комитет отвечает за повседневное управление. Мы регулируемся Ofcom .
        </i>
    </p>
</div>
{% endblock main %}